<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>村上一屋</title>
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
    <style type="text/css">
        #panel {
            position: absolute;
            background-color: white;
            max-height: 90%;
            overflow-y: auto;
            top: 10px;
            right: 10px;
            width: 280px;
        }
    </style>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=7ddf6cd4e59ccaf4864bc702acdb6070"></script>
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
</head>
<body>
	<div class="wp">
	    <ul>
	        <li class=""><a href="story.html" title="北京">北京</a></li>
	      
	        <li class=" on "><a href="mendianfenbu.html" title="上海">上海</a></li>
	      
	        <li class=""><a href="xinwenzixun.html" title="新闻资讯">新闻资讯</a></li>
	      
	        <li class=""><a href="xuanchuanpian.html" title="企业宣传片">企业宣传片</a></li>
	      
	    </ul>
	</div>
<div id="container"></div>
<div id="panel"></div>
<script type="text/javascript">
    var map = new AMap.Map("container", {
        resizeEnable: true
    });
    AMap.service(["AMap.PlaceSearch"], function() {
		var code = getQueryVariable("code")
        //构造地点查询类
        var placeSearch = new AMap.PlaceSearch({ 
            pageSize: 4, // 单页显示结果条数
            pageIndex: 1, // 页码
            city: code, // 兴趣点城市
            citylimit: true,  //是否强制限制在设置的城市内搜索
            map: map, // 展现结果的地图实例
            panel: "panel", // 结果列表将在此容器中进行展示。
            autoFitView: true // 是否自动调整地图视野使绘制的 Marker点都处于视口的可见范围
        });
        //关键字查询
        placeSearch.search('村上一屋');
    });
	function getQueryVariable(variable)
	{
	       var query = window.location.search.substring(1);
	       var vars = query.split("&");
	       for (var i=0;i<vars.length;i++) {
	               var pair = vars[i].split("=");
	               if(pair[0] == variable){return pair[1];}
	       }
	       return(false);
	}
</script>
</body>
</html>