<ul class="clearfix con_jrhdl_1"> 
<li class="jrhdl_img" <% if(imageRight){ %>style="float: right;"<% } else {} %>>
  <a name="1" style="top: -1px;"></a><span>&nbsp;</span><p><img src="<%= image %>" style="border: 0;"></p></li> 
  <li class="jrhdl_js" <% if(imageRight){ %>style="float: left;"<% } else {} %>><h1><%= title %></h1> 
   <div>
     <%- desc %>
   </div>
   </li> 
 </ul>