<div id="hd">
  <div class="wp">      
      <!-- 语言   end-->
      <!-- 导航 -->
      <ul class="nav">
      <li id="cid101" class="<% if (key == 'story') { %> on <% } else {} %>">
              <a class="v1" href="story.html">品牌故事</a>
              <dl style="display: none;">
                  <dd><a class="d1" href="story.html">公司简介</a></dd>
                  <dd><a class="d1" href="pinpai.html">品牌</a></dd>
                  <dd><a class="d1" href="mendianfenbu.html">门店分布</a></dd>
                  <dd><a class="d1" href="xinwenzixun.html">新闻资讯</a></dd>
              </dl>
          </li>
          <li id="cid62" class="<% if (key == 'pinwei') { %> on <% } else {} %>">
              <a class="v1" href="pinwei.html">品味村上</a>
              <dl style="display: none;">
                  <dd><a class="d1" href="pinwei.html" title="菜品展示">菜品展示</a></dd>
                  <dd><a class="d1" href="mendianxingxiang.html" title="门店形象展示">门店形象展示</a></dd>
                  <dd><a class="d1" href="mendianzhanshi.html" title="门店展示">门店展示</a></dd>
              </dl>
          </li>
          <li>
            <a href="index.html" class="logo" title="村上一屋"><img src="images/brand_logo_2.png" alt="村上一屋"></a>
          </li>
          <li id="cid119" class="<% if (key == 'zhaoshang') { %> on <% } else {} %>">
              <a class="v1" href="zhaoshang.html">招商加盟</a>
              <dl style="display: none;">
                  <dd><a class="d1" href="zhaoshang.html">合作伙伴</a></dd>
                  <dd><a class="d1" href="jiamengyoushi.html">加盟优势</a></dd>
              </dl>
          </li>
          <li id="cid141" class="<% if (key == 'contact') { %> on <% } else {} %>">
              <a class="v1" href="contact.html">联系我们</a>
              <dl style="display: none;">
                  <dd><a class="d1" href="contact.html">联系方式</a></dd>
                  <dd><a class="d1" href="zhaopin.html">招聘信息</a></dd>
              </dl>
          </li>
      </ul>
      <!-- 导航   end-->
  </div>
</div>