<footer>
	<div class="container py-3 py-md-4">
		<div class="row">
			<!-- <div class="col-lg-2 col-md-12 logo text-center">
				<a href="index.html"><p class="py-lg-4">村上一屋</p></a>
			</div> -->
			<div class="col-lg-2 col-md-12 text-center">
				<ul class="py-lg-4">
					<li class="mx-2"><a href="story.html">品牌故事</a></li>
					<li class="mx-2"><a href="pinwei.html">品味村上</a></li>
					<li class="mx-2"><a href="zhaoshang.html">招商</a></li>
					<li class="mx-2"><a href="contact.html">联系我们</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-12 text-center">
				<p class="py-lg-4">联系电话：010-59000327 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合作咨询：18911681517（同微信号）</p>
				<p class="py-lg-4">地址：北京市朝阳区建外SOHO西区10号楼8层801&nbsp;&nbsp;&nbsp;市场合作：coo@cunshangyiwu.com</p>
			</div>
			
		</div>
	</div>
</footer>