<head>
  <title>村上一屋</title>
    
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
      addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
      }, false);
  
      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <!--// Meta tag Keywords -->
    
    <!-- css files -->
    <link rel="stylesheet" href="css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
    <link rel="stylesheet" href="css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
    
    <link rel="stylesheet" href="css/chibanting_cui.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/chibanting_less.css" type="text/css" media="all" /> <!-- Style-CSS --> 
    <link rel="stylesheet" href="css/chibanting_lib.css"> <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="css/chibanting_style.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
  
    <link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
  
    <!-- web-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //web-fonts -->
    
  </head>