<div class="wp">
	<div class="m-txt1" style="text-align: center;">
			<h3 class="g-tit1"><%= title %></h3>
<p><img alt="2018新.jpg" src="<%= image %>"></p>
<p><%- desc %></p>                
	</div>
</div>